.lab5-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: black;
}

.lab5-subtitle {
  text-align: center;
  font-size: 1.5em;
  color: black;
}
.service-image {
  background-image: url("./../../assets/lab5/func.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.lab5-x {
  color: black;
  font-weight: bold;
}
