ion-card {
  margin: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ion-text-bold {
  font-weight: bold;
  font-size: 1.4em;
  color: #333;
}

ion-card-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

ion-card-content {
  padding: 16px;
}

ion-item {
  --background: var(--ion-text-color-step-200);
  border-radius: 8px;
  margin: 8px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-label h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 8px;
}

ion-label h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #2c3e50;
  margin-top: 12px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background: #ecf0f1;
  padding: 8px;
  margin: 4px 0;
  border-radius: 6px;
  font-size: 0.9rem;
  color: #2c3e50;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
}

canvas {
  max-width: 100%;
  height: auto;
}
