ion-card-title {
  font-size: 2em;
}
ion-card-subtitle {
  font-size: 1.25em;
}
.result_task_2 {
  font-size: 1.25em;
  font-weight: bold;
}
ion-col {
  text-align: center;
  background-color: rgb(72, 209, 72);
  border: 1px solid black;
}
