ion-card-title {
  font-size: 2em;
}
ion-card-subtitle {
  font-size: 1.25em;
}

.positive-class {
  background-color: green;
  border: 1px solid black;
}

.negative-class {
  background-color: red;
  border: 1px solid black;
}

.result_task_3 {
  font-size: 1.25em;
  font-weight: bold;
}
